.cart-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;

  .cart-item-content-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .cart-item-image-wrapper {
    min-height: 96px;
    min-width: 96px;
    max-width: 96px;
    max-height: 96px;
    margin-right: 16px;
    display: flex;
    align-items: stretch;
  }

  .cart-item-image {
    max-width: 100%;
    object-fit: scale-down;
  }

  .cart-item-title {
  }

  .cart-item-price-wrapper {
    margin-left: auto;
  }

  .cart-item-price {
    margin-left: 16px;
    white-space: nowrap;
    font-weight: 500;
    width: 60px;
    text-align: center;
  }

  .cart-item-actions-bar {
    display: flex;
    align-items: center;
    margin-left: 24px;
    gap: 16px;
  }
}
