.products {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
  justify-content: space-around;
}

.loading-wrapper {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
