.nav-bar {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .nav {
    margin: 0 15px;
    font-size: 1.5rem;
    font-weight: 500;
    user-select: none;
  }
  
  
  .nav:hover {
    cursor: pointer;
  }