/*header*/

.header {
  background-color: aquamarine;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  padding: 0 5vw;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  box-sizing: border-box;
  box-shadow: 0 1px 1px lightgray;
  z-index: 1000;
}
.logo-img {
  object-fit: scale-down;
}
.cart-wrapper {
  position: absolute;
  right: 5vw;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo {
  position: absolute;
  height: calc(10vh - 30px);
  width: calc(10vh - 30px);
  padding: 15px 0;
  user-select: none;
}
.logo:hover {
  cursor: pointer;
}
a {
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
}

/*Body*/

.body {
  background-color: white;
  margin-top: 10vh;
  min-height: 70vh;
  padding: 0 5vw;
}
.about-area {
  padding: 6vh 30vw;
  background: no-repeat center url('./assets/about2.png');
}
.title {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 30px;
  font-weight: 500;
}
.content {
  font-size: 1.2rem;
}
.products-area {
  padding: 5vh 0;
}

/*footer*/

.footer {
  background-color: aquamarine;
  height: 20vh;
  padding: 0 5vw;
  box-shadow: 0 -10px 25px lightgray;
  display: flex;
  flex-direction: column;
  color: black;
}
.rights {
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.contacts {
  display: flex;
  flex: 5;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: center;
  font-weight: 500;
}
.contact {
  font-size: 1rem;
  margin: 2px 0;
  font-weight: 400;
}
