$header-background-color: aquamarine;
$header-height: 10vh;

$page-horizontal-padding: 12vw;

$shadow-color: lightgray;

$background-color: white;

$footer-height: 350px;
$footer-background-color: aquamarine;

$default-font-size: 18px;
$text-color: black;
$inversed-text-color: black;
$inversed-text-hover-color: rgb(66, 60, 60);

$interactive-background-color: rgb(229, 253, 245);
