.nav-bar {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.nav {
  margin: 0 22px;
  font-size: 1.5rem;
  font-weight: 500;
  user-select: none;
}

.nav:hover {
  cursor: pointer;
  color: rgb(66, 60, 60);
  text-decoration: underline;
}
